@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');


html{
  scroll-behavior: smooth;
  
}
#root{
  height: auto;
  width: 100%;
  background-color:rgb(237, 227, 228);
  font-family: 'Montserrat', sans-serif;

 /* Intro-before */

.intro-before{
    height: 100vh;
    background:url('bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-before-text{
  font-size: larger;
  font-weight: 100;
  opacity: 0.89;
  height:auto;
  width: auto;
  color: #1a1b1f;
  font-family: 'Orbitron', sans-serif;
  animation: animatz 1s linear 3;
  }


 /* Main */

}
.top{
  height: auto;
  width: 100%;
  background:url('bg.png');
  background-position: top;
  background-repeat: no-repeat;
}
.navbar{
height: 4%;
display: flex;
align-items: center;
color: #1a1b1f;
}
.nav-left{
  width: 50%;
  align-items: center;
  display: flex;
}
.nav-left h1{
  font-size: x-large;
  margin-left: 40px;
  font-weight: 900;
  height: 38%;
}
.nav-right{
  width: 40%;
}
.nav-links{
  float: left;
  display:flex;
  width: 100% ;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; 
  font-weight: lighter;
  height: 34%;
}
.nav-link-active{
  font-weight: 700;
  opacity: 1;
}
.nav-link-misc{
  text-decoration: none;
  color: #1a1b1f;
}
.nav-link-misc:hover{
  color: #1a1b1f;
  opacity: 1;
  font-weight: 600;
}

/* intro */

.intro{
  height:80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.intro-text{
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #1a1b1f;

}
.intro h1{
  font-size :7vw;
  font-weight: 400;
  height: auto;
  opacity: 0.9;
}
.hobby{
  display: flex;
  list-style-type: none;
  width: 90%;
  justify-content: space-around;
}
.hobby li{
  font-size: 1.5vw;
  font-weight: 400;
  opacity: 0.8;
}
#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120vh;
  width: 100%;
  scroll-behavior: smooth;
}
.about1{
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about-data{
  width: 50%;
  height: 40%;
  color: #1a1b1f;
}
.about-heading{
   border-bottom: #1a1b1f solid 3px;
   width: 49%;
}
.about2{
  height: 50vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: #1a1b1f;

}

/* projects */
#projects{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.project-seperator{
  color: #1a1b1f;
  height: 4vh;
  display:flex;
  margin-left: 10%;
  justify-content: start;
  border-bottom: #1a1b1f solid 1px;
  width: 80%;
}
.project{
  color: #1a1b1f;
  margin-top: 2%;
  margin-bottom: 3%;
  height: 80vh;
  border: #1a1b1f 1px solid;
  border-radius: 10px;
  width: 70%;
  transition: 0.7s;
}
.project:hover{
  background-color: #1a1b1f;
  color: #F8DF8B;
}
.left{
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left p{
  width: 90%;
}

/* footer */

#end{
  background-color: #1a1b1f;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:#eee4e5; 
  height: 16vh;
  width: 100%;
}
.link{
  text-decoration: none;
  color: #eee4e5;
  font-weight: 600;
}
.link:hover{
  color: #6528F7;
  text-shadow: 0px 0px 0.2px white;
}
.copyright{
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b1f;
  color: #eee4e5;
  padding-bottom: 1.2%;
}